header {
    background-color:#cccccccc;
    color: blueviolet;
    
}

header p {
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

header ul li {
    display: inline;
    padding-right: 20px;
    font-size: 20px;
}

section, article {
    width: 65%;
    float: left;
    background-color:rgb(245, 240, 240);
    font-size: 16px;
    padding: 15px;
    margin: 10px;
    font-size: 16px;
}

section h1, article h2 {
    color: blueviolet;
    text-align: center;
}

section p, article p{
   float: left;
}

aside {
    width: 25%;
    position: fixed;
    top: 175px;
    right: 20px;
    height: 380px;
    background-color:#cccccccc;
    padding: 15px;
    
}
aside h2 {
    color: white;
    font-weight: bold;
    text-align: center;
    background-color:blueviolet;
    padding:20px;
}

aside p {
    font-size: 16px;
}

aside a{
    color: blueviolet;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    padding-top: 30px;
    text-align: center;
}


footer {

    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 20px 0 20px 0;
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
        
}
